* {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: -moz-fit-content;
}

nav {
  background-color: #43464b;
  color: #f0f1f3;
  margin-right: -15px;
}

body {
  background-color: #0961d3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #f0f1f3;
  margin-left: 0px;
  margin-right: 15px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

img:hover {
  -webkit-box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.55);
}
.row {
  margin-left: -157px;
}

.navbar-brand {
  color: #f0f1f3;
}

.pageContainer {
  background-color: #43464b;
  padding: 40px;
}

.collectionImage {
  width: 165px;
  height: 220px;
  margin: 10px;
}

.btn-outline-success {
  background-color: #4254f5;
  border-color: #43464b;
  color: #f0f1f3
}

.btn-info {
  background-color: #1ce458;
  color: #000000
}

.btn-secondary {
  background-color: #f7a900;
  color: #000000;
}

.btn-info:hover,
.btn-secondary:hover,
.btn-outline-success:hover {
  background-color: #f70000
}

.form-inline {
  justify-content: center;
}

.addRemove {
  display: flex;
  justify-content: center;
}

.collectionFooter {
  display: flex;
  justify-content: space-evenly;
}

.collectionFooter button {
  background-color: #ec9494;
  color: #000000;
  width: 44px;
  height: 29px;
}

.collectionFooter button:hover {
  background-color: #f70000;
}

#searchColumn {
  padding-right: 30px;
  position: initial;
}


#card-display {
  border: solid #43464b;
  background-color: #43464b;
  font: 20px;
  font-weight: bold;
  width: 500px;
  height: 750px;
  overflow: auto;
}

#card-display img {
  vertical-align: middle;
  border-style: none;
  height: 50%;
  margin: 20px;
  margin-left: 110px;
}

#card-display p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -4px;
  text-align: center;
  font-size: bolder;
}

#collectionPage {
  margin: 50px;
  font-family: "Bebas Neue", cursive;
}

#cardsColumn {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-right: 0px;
  margin-left: 95px;
}

#cardsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  margin: 20px;
  width: 87%;
}

#collection-header {
    text-decoration: underline 2px;
    text-underline-position: under;
    margin-bottom: 40px;
}

#sortable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#sortable li {
  width: 50px;
  height: 75px;
  margin: 10px;
  padding: 10px;
} 

#sortable img {
  max-height: 70%;
  border-style: none;
  margin: 10px;
}

#card-display hr {
  border-top: 10px solid rgba(0, 0, 0, 0.1);
}