* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    justify-content: flex-end;
}

nav {
    background-color: #43464b;
    color: #f0f1f3;
}

body {
    background-color: #0961d3;
    color: #f0f1f3;
}

.navbar-brand {
    color: #f0f1f3
}

h1 {
    text-align: center;
}

div {
    color: red;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    width: 90%;
    height: 400px;
    margin-top: 10px;
    margin-right: 50px;
    box-sizing: content-box;
    background-color: #43464b;
}

#cardsColumn {
    display: flex;
    justify-content: space-around;
    align-items: space-around;

}

.collectionImage {
    width: 170px;
    height: 200px;
    margin: 10px;
}

#cardsRow {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}

.searchBtn {
    background-color: #f5b342;
    width: 30px;
    height: 30px;
}

.list-group-item.active {
    background-color: #f5b342;
}

#sortable { width: 100%; list-style-type: none; margin: 0; padding: 0;  }
  #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }

ul {
    width: 100%;
}

#sortable li {
    width: 50px;
    height: 75px;
    margin:20px;
    padding: 20px;
} 


/* display: flex;
justify-content: space-around;
align-items: space around;} */
  


/* #sortable { list-style-type: none; margin: 0; padding: 0; width: 95%; }

#sortable li { margin: 15px 15px 15px 15px; padding: 5px; float: left; width: 150px; height: 130px; font-size: 4em; text-align: center; 
} */


