#cardsColumn {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

/* #sortable {
    display: flex;
    justify-content: space-around;
    text-wrap: wrap;
    align-items: space-around;
} */

#sortable li {[
    width: 50px;
    height: 75px;
    margin:20px;
    padding: 20px;
    

]}
/* display: flex;
justify-content: space-around;
align-items: space around;} */
  

.row {
    border: medium solid black;
}

/* #sortable { list-style-type: none; margin: 0; padding: 0; width: 95%; }

#sortable li { margin: 15px 15px 15px 15px; padding: 5px; float: left; width: 150px; height: 130px; font-size: 4em; text-align: center; 
} */


