* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eaedf1;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'aside main main main right right'
        'aside footer footer footer footer footer';
        grid-gap: 10px;
        padding: 10px
}

/* 
main {
    margin-top: 10px;
}

nav {
    background-color: #43464b;
    color: #f0f1f3;
}

body {
    background-color: blue;
    color: #f0f1f3
}

p {
    color: #eaedf1
}

.navbar-brand {
    color: #f0f1f3
}

h1 {
    text-align: center;
}

div {
    color: red'
}

aside {
    border-style: solid;
    box-sizing: content-box;
    padding: 10px;
    border-top: 20px;
    clear: both;
    left: 30px;
    height: 100%;
    color: #43464b;
    background-color: #f0f1f3;
}

#siteInfo {
    background-color: #43464b;
    width: 100rem;
    height: 50px;
}

#info {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 15px
    
}

#editorsInfo {
    background-color: #43464b;
}

#mainContent {
    display: flex;
    justify-content: center;
}

#pageContainer {
    display: flex;
    flex-direction: row;
} */
