body {
    background-color: #0961d3;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    
    color: #f0f1f3;
}

nav {
    background-color: #43464b;
    color: #f0f1f3;
    
}

.navbar-brand {
    color: #f0f1f3
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float:left;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 50px;
    width: 100%;
    padding: 14px;
    
}

.container {
    display: flex;
    height: 85vh;
    padding: 20px;
    /* box-sizing: content-box; */
    margin-left: 0px;
    border-radius: 5px;
    background-color: #43464b;
    border: thick solid #43464b;
    
}

#tradeContainer {
    display: flex;
}

#matchSelection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
     
} 

.middleButtons {
    display: block;
    margin-bottom: 10px;
    width: 95%;
    border: thick solid #43464b;
    color: white;
    font-size: 1.5em;
}

#matchBtn {
    margin-bottom: 10px;
    border: thick solid #43464b;
    color: white;
    background-color: #f54905;
    font-size: 1.5em;
}

.currencyBtn {
    margin-bottom: 10px;
    border: thick solid #43464b;
    color: white;
    background-color: #0da148;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#tradeSearch {
    padding-bottom: 10px;
    padding-left: 5px;
    
}
.dropDownMenu {
    width: 95%;
    text-align: center;
}
#mySearch {
    padding-bottom: 10px;
    padding-left: 5px;
}

#currency option {
    max-height: 50px;
    overflow:auto;
}

.options {
    background-color: lightgray;
    border: medium solid darkslategray;
    width: 100%;
}

.submitButton {
    background-color: lightgray;
    border: medium solid darkslategray;
}