body {
    background-color: #0961d3;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    
    color: #f0f1f3;
}

nav {
    background-color: #43464b;
    color: #f0f1f3;
    
}

.navbar-brand {
    color: #f0f1f3
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float:left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: content-box;
    
}

.container {
    display: flex;
    height: 500px;
    padding: 20px;
    box-sizing: content-box;
   
    width: 90%;
    
}

#tradeContainer {
    display: flex;
}

#matchSelection {
    
    text-align: center;
    
}

#matchText {
    color: white;
    padding: 15px;
}

#matchBtn {
    margin-bottom: 10px;
}

.background {
    background-color: #43464b;;
}

#mySearch {
    padding-bottom: 10px;
}