.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    box-sizing: content-box;
    background-color: #43464b;
}

.container {
    height: 500px;
    width: 460px;
    box-sizing: content-box;
    background-color: #43464b;
}

#tradeContainer {
    display: flex;
}

#matchSelection {
    max-width: 10%;
}

#matchText {
    color: white;
    padding: 15px;
}